<!-- views/partials/navigation.ejs -->
<style>
    #opcionesClima .list-group-item {
        background-color:inherit;
        color:#777;
        text-align:left;
        padding-left: 15%;
    }

    #opcionesClima .list-group-item i {
      margin-right: 15px !important;
    }

    .list-group-item a {
        color:inherit;
    }

</style>

<nav class="navbar navbar-default pull-left" ng-controller="NavCtrl" snap-drawer>
    <p style="margin-top:23px;padding-right:10px;width:100%;" align="right">v3.4.5</p>
	    <ul class="nav navbar-nav" ng-show="isLoggedIn()">
	     <!-- <li ng-class="{ active: isActive('/adaptacion') }"><a href="#" snap-toggle><i class="fa fa-search"></i> Buscador</a></li> -->
	      <li ng-class="{ active: isActive('/home') }"><a href="#/home" snap-toggle><i class="fa fa-home"></i> Inicio </a></li>
	      <li>
          <a role="button" data-toggle="collapse" data-target="#opcionesClima" aria-controls="opcionesClima">
              <i class="fa fa-cloud"></i> Información climática
          </a>
          <ul id="opcionesClima" class="list-group collapse">
              <li class="list-group-item">
                <a href="#/clima" snap-toggle>Tiempo actual</a>
              </li>
              <li class="list-group-item">
                <a target="_blank" href="http://meteorologia.anacafe.org/">Estaciones Anacafé</a>
              </li>
              <li class="list-group-item">
                <a href="#/pronostico" snap-toggle>Pronóstico INSIVUMEH</a>
              </li>
              <li class="list-group-item">
                <a href="#/perspectiva" snap-toggle>Perspectiva climática trimestral</a>
              </li>
              <li class="list-group-item">
                <a href="#/climaelninio" snap-toggle>ENSO Fenómeno El Niño</a>
              </li>
          </ul>
        </li>
	      <!--<li ng-class="{ active: isActive('/gallo') }"><a href="#/gallo" snap-toggle><i class="fa fa-leaf"></i> Cálculo de Ojo de Gallo</a></li-->
	      <!-- <li ng-class="{ active: isActive('/dosage') }"><a href="#/dosage" snap-toggle><i class="fa fa-cog"></i> Cálculo de Dosificación</a></li> -->
	      <!-- <li ng-class="{ active: isActive('/campo') }"><a href="#/campo" snap-toggle><i class="fa fa-cog"></i> Hoja de enfermedad </a></li> -->
	      <!--li ng-class="{ active: isActive('/vulnerability') }"><a href="#/vulnerability" snap-toggle><i class="fa fa-cog"></i> Vulnerabilidad</a></li-->
	      <!--<li><a href="#" snap-toggle><i class="fa fa-cog"></i> Cálculo de fertilizante</a></li>
	      <li><a href="#" snap-toggle><i class="fa fa-calculator"></i> Cálculo de cosecha</a></li>
	      <li><a href="#" snap-toggle><i class="fa fa-shopping-cart"></i> Proveedores</a></li>-->
	      <li ng-class="{ active: isActive('/news') }"><a ng-click="newsView()" snap-toggle><i class="fa fa-bell"></i> Notificaciones</a></li>
	      <li ng-class="{ active: isActive(classActive) }"><a ng-click="soportUser()" snap-toggle><i class="fa fa-comment"></i> Soporte</a></li>
	      <li ng-class="{ active: isActive('/profile') }"><a href="#/profile" snap-toggle><i class="fa fa-user"></i> Perfil</a></li>
	      <li><a href="#/login" ng-click="logOut()" snap-close><i class="fa fa-power-off"></i> Salir</a></li>
	    </ul>
      <div align="center" style="margin-top:30px">
        <small><a href="#/politicas" ng-click="navChange()" snap-toggle>Política de uso y privacidad</a></small>
      </div>
	  </nav>
