<script type="text/ng-template" id="/cicoh.html">
  <style>
    h4 {
      font-weight:normal;
      color:#000;
    }
    .climacard {
      background-color:#00ABFF;
      padding:10px;
    }
    .climawidget {
      padding:5px;
    }
    .nomargin {
      padding:0px;
      margin:0px;
    }
    .climacard {
      color:#000;
    }
    .fa {
      margin-right:5px;
    }
    </style>
<div class="home-wrap profile-wrap">
    <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-xs-12">
           <div class="page-header">
             <h2>Estaciones CICOH</span></h2>
             <p style="font-size:12px;"> (Seleccione alguna estación para poder ver su información)</p>
           </div>
         </div>
       </div>
        <div class="row climacard">
                <div class="row">
                  <div class="col-md- col-sm-12 col-xs-12">
                      <div class="panel-body; margin: 0 auto !important; ">
                        <div id="cicohmap" class="col-lg-12" style="height:100%;"></div>
                      </div>
                  </div>
                </div>
        </div>
</script>
