<script type="text/ng-template" id="/copeco.html">
  <style>
    h4 {
      font-weight:normal;
      color:#000;
    }
    </style>
<div class="home-wrap profile-wrap" style='background:#ffffff;'>
    <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-xs-12">
           <div class="page-header">
             <h2>Pronóstico COPECO</span></h2>
           </div>
         </div>
       </div>
        <div class="row">
          <!-- Radar central -->
            <div class="panel panel-default">
              <div class="panel-heading">Radar meteorológico central</div>
              <div class="panel-body climawidget" align="center">
                <a href="http://www.insivumeh.gob.gt/meteorologia/prod_wrf/ppd_1.png"><img src="http://copeco.gob.hn/images/radar/SRI_.gif" class="img-responsive"/></a>
                <span class="bg-warning" ng-show="!online">Necesita estar conectado a Internet</span>
                <p style='color:#333;'>Fuente página oficial COPECO: <a style='color:blue;' href="http://www.copeco.gob.hn">http://www.copeco.gob.hn</a></p>

              </div>
            </div>



        </div>
    </div>
</div>
</script>
