<script type="text/ng-template" id="/elninio.html">
  <style>
    h4 {
      font-weight:normal;
      color:#000;
    }
    .well {
        background-color:#00ABFF;
    }
    td{
        border:0px !important;
    }
    table {
    color:#fff;
    }
    </style>
<div class="home-wrap profile-wrap">
    <div class="container" >
      <div class="row">
         <div class="col-lg-12 col-md-12 col-xs-12">
           <div class="page-header">
             <h2>ENSO Fenómeno El Niño</span></h2>
           </div>
         </div>
       </div>
        <div class="well"  align="justify" ng-controller="ClimaCtrl">  
           <!--  <ul ng-repeat="ensoinfo in ensodata"  >
              <div>
                  <h2>{{ensoinfo.title}}</h2>
                  <h3>{{ensoinfo.subtitle}}</h2>
                    <p>{{ensoinfo.content}}</p>
              </div>  
          
            </ul> -->
            <div>
                <h2>{{ensodata.title}}</h2>
                <h3>{{ensodata.subtitle}}</h2>
                  <div ng-bind-html="htmlElninio"></div>
                  <p>{{ensodata.content}}</p>
            </div>  
        </div>
    </div>
</div>
</script>
