<script type="text/ng-template" id="/forgorpasswordscreen.html">
		<div class="login-wrap">
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">  
				  <div ng-show="error" class="alert alert-danger row">
				    <span>{{ error.message }}</span>
				  </div>
				  <div ng-show="success" class="alert alert-success row">
				    <span>{{ success.message }}</span>
				  </div>

				  <form ng-submit="GenOtp()">
				    <img src="images/pages-logo-dark.png" alt="" class="login-img img-responsive"/>
				    <img src="images/analogo.svg" alt="" class="ana-img img-responsive"/>
				    <div class="form-group">
				       <label for="email">Email</label>
				      <input type="text" name="email"
				      class="form-control"
				      ng-model="user.Email"></input>
				    </div>
				    
				    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
				    <a href="#/register">¿No tiene cuenta?</a>
				    <a href="#/login">Iniciar sesión </a>
				    <div class="row signature">
					    <div class="col-xs-6">
						     <img src="images/USAIDLOGO.png" alt="" class="login-usaid img-responsive"/>
					    </div>
					    <div class="col-xs-6">
						    <p>Programa Regional de Cambio Climático</p>
					    </div>
					</div>
				  </form>
				</div>
			</div>
		</div>
	</div>
	  </script>