<script type="text/ng-template" id="/perspectiva.html">
  <style>
    h4 {
      font-weight:normal;
      color:#000;
    }
    .well {
        background-color:#00ABFF;
    }
    </style>
<div class="home-wrap profile-wrap">
    <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-xs-12">
           <div class="page-header">
             <h2>Perspectiva clim치tica trimestral</span></h2>
           </div>
         </div>
       </div>
        <span ng-show="error">Error, imposible cargar informaci칩n</span>
       <div align="center" ng-show="!htmlPerspectiva || !online">
       <p ng-show="!error">Cargando informaci칩n</p>
       </div>
       <div align="center" ng-show="!online">
       <p>Necesita internet para descargar informaci칩n</p>
       </div>
        <div class="well" ng-bind-html="htmlPerspectiva" align="justify">
        </div>
    </div>
</div>
</script>
