<script type="text/ng-template" id="/resetpassword.html">
		<div class="login-wrap">
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">  
				  <div ng-show="error" class="alert alert-danger row">
				    <span>{{ error.message }}</span>
				  </div>
				  <div ng-show="success" class="alert alert-success row">
				    <span>{{ success.message }}</span>
				  </div>

				  <form ng-submit="ChangePassword()">
				    <img src="images/pages-logo-dark.png" alt="" class="login-img img-responsive"/>
				    <img src="images/LogoICAFE.svg" alt="" class="ana-img img-responsive"/>
				    <div class="form-group">
				      <label for="email">Nueva Contrase침a</label>
				      <input type="password" name="password"
				      class="form-control"
				      ng-model="user.password"></input>
				    </div>
				    <div class="form-group">
				      <label for="email">Confirmar Contrase침a</label>
				      <input type="password" name="cpassword"
				      class="form-control"
				      ng-model="user.cpassword"></input>
				    </div>
				    <button type="submit" class="btn btn-primary">Cambiar Contrase침a</button>
				   
				    
				    <div class="row signature">
					    <div class="col-xs-6">
						     <img src="images/USAIDLOGO.png" alt="" class="login-usaid img-responsive"/>
					    </div>
					    <div class="col-xs-6">
						    <p>Programa Regional de Cambio Clim치tico</p>
					    </div>
					</div>
				  </form>
				</div>
			</div>
		</div>
	</div>
	  </script>