<script type="text/ng-template" id="/supportExt.html">


			<!-- Modal -->
		<div class="support-wrap" ng-controller="SupportExtCtrl">

			<h2 class="section-header chatTitle">Soporte</h2>

			<div class="container">
				<div class="row listadoChats" style="margin-bottom: 15px;">
					<div class="col-md-6 col-md-offset-3">
						<div class="message" ng-repeat="chat in listChats" style="width:100%;margin-right:0px!important;height: 80px;margin-bottom: 0px;padding:20px!important;margin-left:0px!important;background-color: #CECECE!important;color:#666666;">
							<a href="#/supportextinterna/{{chat._id}}/{{chat.sender}}">
								<div class="message-wrap">
									<img class="userImage chat-image" ng-src="images/ChatUser.png" />&nbsp;<label class="chat-text" style="margin-top: 0px;margin-left: 15px;color: #666666;">{{ chat.sender }}</label>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</script>
