<script type="text/ng-template" id="/incidenciaroya.html">
	     <div class="container-fluid users-wrap">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Incidencia de Roya
                        </h1>
                        
                    </div>
                </div>

        <div id="row1">
        </div>
              



				


            </div>
    </script>

    <style>

    #row1{
height:100px;
background:red;
    }

    #row2{
height:100px;
background: black;
    }
    
    </style>
    