<script type="text/ng-template" id="/vulnerabilidad2.html">
	<div class="container-fluid vulnerabilidad-wrap">

		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					Reportes de Vulnerabilidad
				</h1>





			</div>

		</div>
	<!-- /.row -->
	<div class="row">
		<div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Estadisticas
                                </h3>
                            </div>
                            <div class="panel-body">

	                          <div class="row">
		                          <div class="col-md-3">
			                          <div class="panel panel-green">
			                            <div class="panel-heading">
			                                <div class="row">
			                                    <div class="col-xs-3">
			                                        <i class="fa fa-bullhorn fa-5x"></i>
			                                    </div>
			                                    <div class="col-xs-9 text-right">
			                                        <div class="huge ng-binding">1537</div>
			                                        <div>Reportes de Vulnerabilidad</div>
			                                    </div>
			                                </div>
			                            </div>
			                           <!-- <a href="/admin#/roya">
			                                <div class="panel-footer">
			                                    <span class="pull-left">Ver Reportes</span>
			                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                    <div class="clearfix"></div>
			                                </div>
			                            </a>
																	-->
			                        </div>
		                          </div>
		                          <div class="col-md-3">
			                          <div class="panel panel-primary">
			                            <div class="panel-heading">
			                                <div class="row">
			                                    <div class="col-xs-3">
			                                        <i class="fa fa-line-chart fa-5x"></i>
			                                    </div>
			                                    <div class="col-xs-9 text-right">
			                                        <div class="huge ng-binding">380</div>
			                                        <div>Vulnerabilidad Promedio</div>
			                                    </div>
			                                </div>
			                            </div>
			                           <!-- <a href="/admin#/messenger">
			                                <div class="panel-footer">
			                                    <span class="pull-left">Ver Consultas</span>
			                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                    <div class="clearfix"></div>
			                                </div>
			                            </a>
																	-->
			                        </div>
		                          </div>
		                          <div class="col-md-3">
			                          <div class="panel panel-yellow" ng-hide="curUserRole == 'Extensionista'">
			                            <div class="panel-heading">
			                                <div class="row">
			                                    <div class="col-xs-3">
			                                        <i class="fa fa-flag fa-5x"></i>
			                                    </div>
			                                    <div class="col-xs-9 text-right">
			                                        <div class="huge ng-binding">1849</div>
			                                        <div>Unidades Evaluadas</div>
			                                    </div>
			                                </div>
			                            </div>
			                            <!--<a href="/admin#/users">
			                                <div class="panel-footer">
			                                    <span class="pull-left">Ver Usuarios</span>
			                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                    <div class="clearfix"></div>
			                                </div>
			                            </a>
																	-->
			                        </div>
		                          </div>
		                        </div>

                            </div>
	                     </div>

	</div>
	<!--endrow-->

<div class="row">
	<div class="panel panel-default">
	                            <div class="panel-heading">
	                                <h3 class="panel-title">Reportes
	                                </h3>
	                            </div>
	                            <div class="panel-body">


	                            </div>
		                     </div>
</div>
	<!--endRow-->
	</div>

</script>
