<script type="text/ng-template" id="/vulnerabilidad2.html">
	<div class="container-fluid vulnerabilidad-wrap">

		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					Reportes de Vulnerabilidad
				</h1>

				<div class="row">
					<div class="panel panel-default">
					                            <div class="panel-heading">
					                                <h3 class="panel-title">Filtros
					                                </h3>
					                            </div>
					                            <div class="panel-body">
																				<form>
																						<div class="form-row">



																								<div class="form-group col-md-2">
																										<label for="inputDepto">Departamento</label>
																										<select id="inputDepto" class="form-control" ng-init="selectedDepto='Todos'" ng-model="selectedDepto" ng-change="changeDepto()" >
																												<option selected>Todos</option>
																												<option ng-repeat="depto in deptos" value="{{depto.dept}}">{{depto.dept}}</option>
																										</select>
																								</div>
																								<div class="form-group col-md-2">
																										<label for="inputMuni">Municipio</label>
																										<select id="inputMuni" class="form-control" ng-init="selectedMuni='Todos'" ng-model="selectedMuni" ng-change="changeMuni()">
																												<option selected>Todos</option>
																												<option ng-repeat="muni in munis" value="{{muni}}">{{muni}}</option>
																										</select>
																								</div>
																								<div class="form-group col-md-2">
																										<label for="inputState">Unidad Productiva</label>
																										<select id="inputState" class="form-control">
																												<option selected>Choose...</option>
																												<option>...</option>
																										</select>
																								</div>
																								<div class="form-group col-md-2">
																										<label for="inputState">Fecha Inicio</label>
																										<input type="date" class="form-control" ng-model="selectedStart"></input>
																								</div>
																								<div class="form-group col-md-2">
																										<label for="inputState">Fecha Fin</label>
																										<input type="date" class="form-control" ng-model="selectedEnd"></input>
																								</div>
																								<div class="form-group col-md-2">
																										<button type="submit" class="btn btn-primary" ng-click="getTestByParameters()">Graficar</button>
																								</div>





																								</div>
																				</form>


					                            </div>
						                     </div>
				</div>
					<!--endRow-->



			</div>

		</div>
	<!-- /.row -->
	<div class="row">
		<div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Estadisticas
                                </h3>
                            </div>
                            <div class="panel-body">

	                          <div class="row">
		                          <div class="col-md-4">
			                          <div class="panel panel-green">
			                            <div class="panel-heading">
			                                <div class="row">
			                                    <div class="col-xs-3">
			                                        <i class="fa fa-bullhorn fa-5x"></i>
			                                    </div>
			                                    <div class="col-xs-9 text-right">
			                                        <div class="huge ng-binding">{{amountTests}}</div>
			                                        <div>Reportes de Vulnerabilidad</div>
			                                    </div>
			                                </div>
			                            </div>
			                           <!-- <a href="/admin#/roya">
			                                <div class="panel-footer">
			                                    <span class="pull-left">Ver Reportes</span>
			                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                    <div class="clearfix"></div>
			                                </div>
			                            </a>
																	-->
			                        </div>
		                          </div>
		                          <div class="col-md-4">
			                          <div class="panel panel-primary">
			                            <div class="panel-heading">
			                                <div class="row">
			                                    <div class="col-xs-3">
			                                        <i class="fa fa-line-chart fa-5x"></i>
			                                    </div>
			                                    <div class="col-xs-9 text-right">
			                                        <div class="huge ng-binding">{{averageTests}}</div>
			                                        <div>Vulnerabilidad Promedio</div>
			                                    </div>
			                                </div>
			                            </div>
			                           <!-- <a href="/admin#/messenger">
			                                <div class="panel-footer">
			                                    <span class="pull-left">Ver Consultas</span>
			                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                    <div class="clearfix"></div>
			                                </div>
			                            </a>
																	-->
			                        </div>
		                          </div>
		                          <div class="col-md-4">
			                          <div class="panel panel-yellow" ng-hide="curUserRole == 'Extensionista'">
			                            <div class="panel-heading">
			                                <div class="row">
			                                    <div class="col-xs-3">
			                                        <i class="fa fa-flag fa-5x"></i>
			                                    </div>
			                                    <div class="col-xs-9 text-right">
			                                        <div class="huge ng-binding">1849</div>
			                                        <div>Unidades Evaluadas</div>
			                                    </div>
			                                </div>
			                            </div>
			                            <!--<a href="/admin#/users">
			                                <div class="panel-footer">
			                                    <span class="pull-left">Ver Usuarios</span>
			                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                    <div class="clearfix"></div>
			                                </div>
			                            </a>
																	-->
			                        </div>
		                          </div>
		                        </div>

                            </div>
	                     </div>

	</div>
	<!--endrow-->

<div class="row">
	<div class="panel panel-default">
	                            <div class="panel-heading">
	                                <h3 class="panel-title">Reportes
	                                </h3>
	                            </div>
	                            <div class="panel-body">

																<!--Grid1-->
																<div ui-i18n="es" class="col-lg-12">
																	<div ui-i18n='es' ui-grid="gridOptionsEvaluation" ui-grid-selection ui-grid-exporter class="grid"></div>

																</div>
																<!--Fin del grid-->


	                            </div>
		                     </div>
</div>
	<!--endRow-->
	<div class="row">
		<div class="panel panel-default">
		                            <div class="panel-heading">
		                                <h3 class="panel-title">Gráficos
		                                </h3>
		                            </div>
		                            <div class="panel-body">

																	<div style="width: 600px;height:400px;" id="vscatterchart">

																	</div>


		                            </div>
			                     </div>
	</div>
		<!--endRow-->
	</div>

</script>
